@use 'base/variables' as v;
@use 'base/mixins' as m;

.cards {
	&__grid {
		@include m.tablet {
			@include m.grid(3, 2rem);
		}
	}
}

.card {
	max-width: 35rem;
	margin: 0 auto 2rem auto;
	&:last-of-type {
		margin-bottom: 0;
	}
	@include m.tablet {
		max-width: unset;
		margin: 0;
	}

	&__imagen {
		width: 100%;
		border: 0.5rem solid v.$blanco;
		transition-property: transform;
		transition-duration: 0.3s;
		&:hover {
			transform: rotate(4deg) scale(1.3);
		}
	}
}
