@use 'base/variables' as v;
@use 'base/mixins' as m;

.horario {
	background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, transparent 50%),
		url(../img/bg_horarios.jpg);
	background-repeat: no-repeat;
	background-position: center, 60% bottom;
	background-size: 100%, 200% 51%; /* Ancho 100% y alto 200 píxeles */
	color: v.$blanco;

	@include m.tablet {
		background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, transparent 50%),
			url(../img/bg_horarios.jpg);
		background-position: center, top center;
		background-size: unset;
	}

	&__grid {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		@include m.tablet {
			grid-template-rows: unset;
			@include m.grid(2, 5rem);
		}
	}

	&__contenido {
		padding: 5rem 0;
	}

	&__heading {
		@include m.heading;
	}

	&__texto {
		font-size: 1.8rem;
		line-height: 1.8;
		text-align: center;
		@include m.tablet {
			font-size: 2.2rem;
		}
	}
}

.tabla {
	width: 100%;
	border: 0.5rem solid v.$secundario;
	text-align: center;
	border-collapse: collapse;
	&__thead {
		background-color: v.$secundario;
	}

	&__th {
		padding: 2rem;
	}

	&__tr {
		&:hover {
			background-color: darken(v.$primario, 10%);
		}
	}

	&__td {
		padding: 1rem;
		font-size: 2.2rem;
	}
}
